{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="well">
        <h2>{{ feed.title }}</h2>
        {% if feed.description %} <p>{{ feed.description }}</p> {% endif %}
        <a href="{{ url_for("feed.delete", feed_id=feed.id) }}"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this feed') }}" onclick="return confirm('{{ _('You are going to delete this feed.') }}');"></i></a>
        <a href="{{ url_for("feed.form", feed_id=feed.id) }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this feed') }}"></i></a>
    </div>
    <div class="well">
        <p>
        {{ _('This feed contains') }} {{ feed.articles.all()|count }} <a href= "{{ url_for("home", feed_id=feed.id, filter_="all")  }}">{{ _('articles') }}</a>.<br />
        {{ _('Address of the feed') }}: <a href="{{ feed.link }}" target="_blank">{{ feed.link }}</a><br />
        {% if feed.site_link != "" %}
            {{ _('Address of the site') }}: <a href="{{ feed.site_link }}" target="_blank">{{ feed.site_link }}</a><br />
        {% endif %}

        <br />

        {% if feed.last_retrieved %}
            {{ _("Last download:") }} {{ feed.last_retrieved | datetime }}<br />
        {% endif %}

        {% if feed.error_count > 2 %}
            <b>{{ _("That feed has encountered too much consecutive errors and won't be retrieved anymore.") }}</b><br />
            {{ _("You can click <a href='%(reset_error_url)s'>here</a> to reset the error count and reactivate the feed.", reset_error_url=url_for("feed.reset_errors", feed_id=feed.id)) }}
        {% elif feed.error_count > 0 %}
            {{ _("The download of this feed has encountered some problems. However its error counter will be reinitialized at the next successful retrieving.") }}<br />
        {% endif %}

        {% if feed.last_error %}
            {{ _("Here's the last error encountered while retrieving this feed:") }} <pre>{{ feed.last_error }}</pre><br />
        {% endif %}

        {% if feed.articles.all()|count != 0 %}
            {{ _('The last article was posted') }} {{ elapsed.days }} {{ _('day(s) ago.') }}<br />
            {{ _('Daily average') }}: {{ average }}, {{ _('between the') }} {{ first_post_date | datetime }} {{ _('and the') }} {{ end_post_date | datetime }}.
        {% endif %}
        </p>
    </div>
    <div class="well">
        {% if feed.articles.all()|count != 0 %}
            <div>{{ tag_cloud|safe }}</div>
        {% endif %}
    </div>
</div><!-- /.container -->
{% endblock %}
