{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>{{ _('You are subscribed to') }} {{ feeds.count() }} {{ _('feeds') }} &middot; {{ _('Add a') }} <a href="{{ url_for("feed.form") }}">{{ _('feed') }}</a></h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ _('Status') }}</th>
                    <th>{{ _('Title') }}</th>
                    <th>{{ _('Site') }}</th>
                    <th>{{ _('Articles') }}</th>
                    <th>{{ _('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for feed in feeds|sort(attribute="title") %}
                <tr {% if not feed.enabled  %}class="warning"{% endif %}>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if feed.enabled  %}
                            <i class="glyphicon glyphicon-eye-open" title="{{ _('Feed enabled') }}"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-eye-close" title="{{ _('Feed disabled') }}"></i>
                        {% endif %}
                    </td>
                    <td><a href="{{ url_for("feed.feed", feed_id=feed.id) }}" {% if feed.description %}title="{{ feed.description  }}"{% endif %}>{{ feed.title }}</a></td>
                    <td><a href="{{ feed.site_link }}">{{ feed.site_link }}</a></td>
                    <td>{{ feed.articles.count() }}</td>
                    <td>
                        <a href="{{ url_for("home", feed_id=feed.id, filter_="all") }}"><i class="glyphicon glyphicon-th-list" title="{{ _('Articles') }}"></i></a>
                        <a href="{{ url_for("feed.form", feed_id=feed.id) }}"><i class="glyphicon glyphicon-edit" title="{{ _('Edit this feed') }}"></i></a>
                        <a href="/duplicates/{{ feed.id }}"><i class="glyphicon glyphicon-book" title="{{ _('Duplicate articles') }}"></i></a>
                        <a href="{{ url_for("feed.delete", feed_id=feed.id) }}"><i class="glyphicon glyphicon-remove" title="{{ _('Delete this feed') }}" onclick="return confirm('{{ _('You are going to delete this feed.') }}');"></i></a>
                    </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div><!-- /.container -->
{% endblock %}
